<ion-view title="Top List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <ion-item>Top Semanal</ion-item>
            <ion-item>Top Youtuber</ion-item>
            <ion-item>Fail list of the week</ion-item>
            <ion-item>Fail list of the week</ion-item>
            <ion-item>Fail list of the week</ion-item>
            <ion-item>Fail list of the week</ion-item>
            <ion-item>Fail list of the week</ion-item>
            <ion-item>Fail list of the week</ion-item>
            <ion-item>Fail list of the week</ion-item>
        </ion-list>
    </ion-content>
</ion-view>